[defaults]
inventory = ./inventory-local
remote_user = devops
collections_path = ./collections:/usr/share/ansible/collections

[galaxy]
server_list = rh-certified, validated

[galaxy_server.rh-certified]
url=https://hub.lab.example.com/api/galaxy/content/rh-certified/
token=<put your token here>

[galaxy_server.validated]
url=https://hub.lab.example.com/api/galaxy/content/validated/
token=<put your token here>
